<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'bulma.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>{{title}}</title>
</head>
<body>
<section class="hero is-success">
<nav  class="is-top-fixed is-success">
    <ul>
        <li class="has-text-centered">TODO APP</li>
        {% if authenticated %}
        <li align="center">{{user}}</li>
        <li class="button is-light is-pulled-right"><a href="{% url 'logout_app' %}">Logout</a></li>
        {% endif %}
    </ul>
</nav>
</section>
{% block content %}
{% endblock %}
</body>
</html>