{% extends 'base_html.html' %}

{% block content %}
<a href="{% url 'add_list' %}" class="button is-info">Add List</a>
{% if lists %}
<div class="centerall">
<table border="1px" class="table is-striped centerall">
    <tr>
        <td><b>Id</b></td>
        <td><b>Name</b></td>
        <td><b>Created Time</b></td>
        <td><b>Actions</b></td>
    </tr>
{% for list in lists %}
    <tr>
        <td>{{list.id}}</td>
        <td><a href="{% url 'list_items' list.id%}" class="button is-light">{{list.name}}</a></td>
        <td>{{list.current}}</td>
        <td>
            <form method="POST">
            <a href="{% url 'edit_list' list.id%}" class="button is-warning">Edit</a>
            <a href="{% url 'delete_list' list.id %}" class="button is-danger">Delete</a>
            </form>
        </td>
    </tr>
{% endfor %}
</table>
</div>
{% endif %}
{%endblock%}