<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'bulma.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>{{title}}</title>
</head>
<body>
<section class="hero is-info">
<nav  class="is-top-fixed is-success" role="navigation" aria-label="main navigation">
    <img src="{% static '/images/IPL-logo.jpg' %}" height="150" width="150" class="img-fluid rounded-circle"/>
    <div >
        <div class="has-text-centered is-size-2">IPL APP</div>
        <div>
            <div class="navbar-menu">
    <!-- navbar start, navbar end -->
                <div>
                    <a href="{% url 'points' 2019%}" class="navbar-item is-warning is-focused">Points Table</a>
                </div>
                {% if authenticated %}
                <div>
                    <a href="{% url 'home' %}" class="navbar-item is-warning is-focused">Home Page</a>
                </div>
                <div>
                    <a href="{% url 'iplhome' %}" class="navbar-item is-warning is-focused">Team Page</a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item button is-light is-right">
                        <a href="{% url 'logout_app' %}">Logout</a>
                    </div>
                    {% else %}
                    <div class="navbar-end">
                    <div class="navbar-item button is-light is-right">
                        <a href="{% url 'login_app' %}">Login</a>
                    </div>
                    </div>
                    <div class="navbar-item is-right">
                        {{name}}
                        <i class="fa fa-id-card fa-2"></i>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
</section>
{% block content %}
{% endblock %}
</body>
</html>