{% extends 'base_html.html' %}

{% block content %}
<section class="section">
	<form method="POST">
		{% csrf_token %}
       <div class="columns">
       <div class="column is-4 is-offset-4">
		  <div class="field">
		  <p class="control has-icons-left has-icons-right">
		    {{form.username}}
		    <span class="icon is-small is-left">
		      <i class="fa fa-envelope"></i>
		    </span>
		    <span class="icon is-small is-right">
		      <i class="fa fa-check"></i>
		    </span>
		  </p>
		</div>
		<div class="field">
		  <p class="control has-icons-left">
		    {{form.password}}
		    <span class="icon is-small is-left">
		      <i class="fa fa-lock"></i>
		    </span>
		  </p>
		</div>
		<div class="field">
		  <p class="control">
		    <button type="submit" class="button is-success" >
				Login
			</button>
		  </p>
		</div>
		<div class="field">
		  <p class="control">
		    <a href="{% url 'signup_app' %}" class="is-info">
		      Register Here
		    </a>
		  </p>
		</div>
      </div>
       </div>
		</form>
      </section>
{% endblock %}