{% extends 'base_html.html' %}

{% block content %}
{% if 'onlineapp.add_college' in permissions %}
<a href="{% url 'add_colleges' %}" class="button is-dark is-pulled-left">+ Add</a><br>
{% endif %}
{% if colleges %}
<div class="container">
    {% for clg in colleges %}
    <div class="box has-background-white-ter">
        <div>
            <i class="fa fa-at"></i>
            <i>Acronym:</i>&nbsp;<a href="{% url 'college_details' clg.id %}">{{clg.acronym}}</a>
        </div>
        <div>
            <i class="fa fa-university"></i>
            <i>College:</i>&nbsp;{{ clg.name }}
        </div>
        <div class="is-pulled-right ">
            {% if 'onlineapp.change_college' in permissions %}
            <a href="{% url 'edit_college' clg.id %}" class="button is-warning">Edit</a>
            <a href="{% url 'delete_college' clg.id %}" class="button is-danger">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}